
/.bundle

!/log/.keep
*.*~
*.bak
*.sass~
*.tmproj
.*.swp
.DS_Store
.bundle
.directory
.gem
.rspec
.ruby-gemset
.sass-cache/*
.swo
.swp
/.bundle
/data
/fonts
/log/*
/tags
/tmp
\.project
config/database.yml
dump.rdb
log/*
mkmf.log
node_modules/**
test/coverage/*
test/data
tmp/*
public/uploads/**
bower_components/**
.env.local
/vendor
/vendor/cache
